@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'roslindale';
    src: url('./public/font/Roslindale.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'roslindalelight';
    src: url('./public/font/Roslindale-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'satoshi';
    src: url('./public/font/Satoshi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'satoshilight';
    src: url('./public/font/Satoshi-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}